

<% form_tag :controller => @app_name.downcase, :action => 'search' do %>
	<%= text_field_tag 'query', nil, {:size=>40} %> 
	<%= hidden_field_tag :search_type, @search_type %> 
	<%= submit_tag "Search" %>
<% end %>
