
<b>Available Options:</b><br />

&#164; <a href='<%=%Q(/tru/county?state_id=5&county_id=167&record_type=median_price)%>'>View As List</a> <br />
&#164; <a href='<%=%Q(/tru/county?show_map=true&state_id=5&county_id=167&record_type=median_price)%>'>View Cities Map</a> <br />
&#164; <a href='<%=%Q(/summary/county?type=county&name=#{@county_name}&tru_type=listed)%>'>View Trends</a> <br />

<br />

<hr>

<div id='sidebar_ajax'>

	<%= @html %>
	
</div>
<br />

[Back]