<div id='ajax_div'>

	<%= hidden_field_tag :html_type, 'ajax' %>

	<h3>Inside 'ajax_div'</h3>

	<%=
	  @map = GMap.new("map_div")
	  @map.control_init(:large_map => true, :map_type => true)
	  @map.center_zoom_init([37.420644, -121.021325], 8) # center of California
	  load_markers(@map)
	  color2icons = init_color_icons(nil)
	
	  @map.div(:width => 670, :height => 550)
	%>

</div>	
Outside ajax_div



<div id="hidden" style="display:none; ">

Content

</div>
