

<div id="sidebarContainer">
	<div id="sidebar">
		<div id="sidebar-categories">

&#164; School in District<br />
&#164; By School Name <br />

		</div>					 
	</div> <!-- sidebar -->
</div> <!-- sidbarContainer -->



