
<h2>About iFanSee.com:</h2>
<ul>
	<li>Version: Beta 1 
	  <ul>
	    <li>Initial: 01/06/08</li>
 	    <li>Update: 03/29/08</li>
	    <li>Update: 10/09/08</li>
	  </ul>
	</li>
	<li>Questions/Comments: <b>ifansee [at] gmail.com</b></li>
</ul>

<h2>Tools & Languages:</h2>
<ul>
	<li><a href='http://www.apple.com'>Mac OS X</a></li>
	<li><a href='http://www.ruby-lang.org/en/'>Ruby</a>,
		<a href='http://en.wikipedia.org/wiki/JavaScript'>Java Script</a>
		<a href='http://en.wikipedia.org/wiki/AJAX'>AJAX</a>,
		<a href='http://www.w3.org/Style/CSS/'>CSS</a>
		</li>
	<li><a href='http://www.rubyonrails.org'>Ruby On Rails</a></li>
	<li><a href=http://ferret.davebalmain.com/>Ferret Search Engine</a>,
		<a href='http://projects.jkraemer.net/acts_as_ferret/'>acts_as_ferret</a>
		</li>
	<li><a href='http://www.aptana.com/'>Aptana Studio</a></li>
	<li><a href='http://www.realmacsoftware.com/rapidweaver/'>RapidWeaver</a></li>
	<li><a href='http://www.maani.us/xml_charts/'>XML/SWF Charts</a></li>
	<li><a href='http://maps.google.com/'>Google Map</a></li>
	<li><a href='http://geokit.rubyforge.org/'>GeoKit for Rails</a></li>
	<li><a href='http://rubyforge.org/projects/ym4r/'>YM4R</a></li>
	<li><a href='http://iterm.sourceforge.net/'>iTerm</a></li>
	<li><a href='http://creatr.cc/creatr/'>LogoCreater</a></li>
	<li><a href='http://www.site5.com/'>Site5</a></li>
</ul>

<h2>Data Sources:</h2>
<ul>
	<li><a href='http://www.cde.ca.gov/ta/ac/ap/'>Academic Performance Index (API)</a></li>
	<li><a href='http://star.cde.ca.gov/'>Standardized Testing and Reporting (STAR) Results</a></li>
	<li><a href='http://www.census.gov/'>US Census Bureau</a></li>
	<li><a href='http://www.trulia.com/'>Trulia</a></li>
</ul>